<section class="home">
  <md-content>
    <div layout="row" layout-align="center">
      <div flex="50">
        <div class="back-logo">
          <!--{{bind-attr class="hasQuery:while-search :back-logo"}} -->
          <center><img src="/modules/core/client/img/brand/logo-black.png" width="400px"></img>
          </center>
          <!-- {{bind-attr class="hasQuery:while-search :back-logo :hide-on-small-only"}} -->
          <h2 class="center-align">
        ro<span class="initial">MEAN</span>et Démo
        </h2>
        </div>
      </div>
    </div>
  </md-content>
</section>
