.users .social-button {
  background-size: 100% 100% !important;
  border-radius: 5px;
  display: inline-block;
  height: 75px;
  width: 75px;
}
.users .user-profile-picture {
  background: #dedede;
  height: 150px;
  width: 150px;
}

.users .SelectHeader .select-header-searchbox{
	border: none;
	height: 100%;
	padding: 0;
	width: 100%;
}

.users .SelectHeader .usersSelect-header {
	align-items: center;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
	cursor: pointer;
	display: flex;
	height: 48px;
	margin-left: 10.667px;
	position: relative;
	width: auto;
}

.users .SelectHeader md-content._md {
	max-height: 240px;
}
