<form flex="100" class="base" name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" novalidate autocomplete="off">
  <h3 class="center-align">Restore your password</h3>

  <md-input-container class="md-icon-float md-block" show-errors>
    <md-icon><i class="fa fa-user"></i></md-icon>
    <input ng-model="vm.credentials.username" type="text" placeholder="Username" id="username" name="username" lowercase required>
    <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
      <p ng-message="required">Enter a username.</p>
    </div>
  </md-input-container>

  <div class="center-align">
    <md-button type="submit" class="md-raised md-primary">Submit</md-button>
  </div>
  <div type="danger" ng-show="vm.error" class="center-align text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>
  <div ng-show="vm.success" class="center-align text-success">
    <strong ng-bind="vm.success"></strong>
  </div>
</form>
