<form flex="100" class="base" name="vm.resetPasswordForm" ng-submit="vm.resetUserPassword(vm.resetPasswordForm.$valid)" novalidate autocomplete="off">
  <h3 class="center-align">Reset your password</h3>

  <md-input-container class="md-icon-float md-block" show-errors>
    <md-icon><i class="fa fa-user"></i></md-icon>
    <input ng-model="vm.passwordDetails.newPassword" type="text" placeholder="New Password" id="newPassword" name="newPassword" autocomplete="new-password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" uib-popover-placement="top" password-validator
        required>
    <div ng-messages="vm.resetPasswordForm.newPassword.$error" role="alert">
      <p ng-message="required">Enter a new password.</p>
      <div ng-repeat="passwordError in passwordErrors">
        <p ng-show="vm.resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
      </div>
    </div>
  </md-input-container>
  <md-input-container md-no-float class="md-block" show-errors>
    <md-icon><i class="fa fa-lock"></i></md-icon>
    <input ng-model="vm.passwordDetails.verifyPassword" type="text" placeholder="Verify Password" id="verifyPassword" name="verifyPassword" password-verify="vm.passwordDetails.newPassword" required>
    <div ng-messages="vm.resetPasswordForm.verifyPassword.$error" role="alert">
      <p ng-message="required">Enter the password again to verify.</p>
      <p ng-show="vm.resetPasswordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
    </div>
  </md-input-container>

  <div ng-show="!vm.resetPasswordForm.newPassword.$error.required">
    <label>Password Requirements</label>
    <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
  </div>
  <div class="center-align">
    <button type="submit" class="btn btn-primary">Update Password</button>
  </div>
  <div ng-show="error" class="center-align text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>
  <div ng-show="success" class="center-align text-success">
    <strong ng-bind="vm.success"></strong>
  </div>

</form>
