<section class="articles">
  <md-content>
    <md-list class="base">
      <md-subheader>
        <div layout="row" layout-align="space-between center" class="rmt-subheader">
          <h4 class="md-title">Articles</h4>
          <form>
            <md-input-container md-no-float>
              <md-select ng-model="vm.itemsPerPage">
                <md-option ng-repeat="v in vm.itemsPerPageChoice" ng-value="v.abbrev">
                  {{v.abbrev}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container md-no-float>
              <input ng-model="vm.search" placeholder="Search">
            </md-input-container>
          </form>
        </div>
      </md-subheader>
      <md-divider></md-divider>
      <md-list-item class="md-2-line md-long-text" dir-paginate="article in vm.articles | filter: vm.search | itemsPerPage: vm.itemsPerPage" pagination-id="articles" ui-sref="articles.view({articleId: article._id})">
        <!--<img ng-src="{{article.user.profileImageURL}}" class="md-avatar" alt="{{article.user.displayName}}" />-->
        <div class="md-list-item-text">
          <b ng-bind="article.title"></b> <small>Posted on <span ng-bind="article.created | date:'mediumDate'"></span> by <span ng-if="article.user" ng-bind="article.user.displayName"></span><span ng-if="!article.user">Deleted User</span></small>
          <p ng-bind-html="article.content"></p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <dir-pagination-controls boundary-links="true" template-url="/modules/core/client/templates/pagination.html" pagination-id="articles"></dir-pagination-controls>
    </md-list>
  </md-content>
</section>
