<section class="articles">
  <md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 ng-bind="vm.article.title"></h2>
      </div>
    </md-toolbar>
    <div class="base md-padding">
      <small>
        <em class="text-muted">
          Posted on
          <span ng-bind="vm.article.created | date:'mediumDate'"></span>
          by
          <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
          <span ng-if="!vm.article.user">Deleted User</span>
        </em>
      </small>
      <p class="lead" ng-bind="vm.article.content"></p>
    </div>
  </md-content>
</section>
