<form flex="100" class="base" name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" novalidate autocomplete="off">

  <md-input-container class="md-icon-float md-block" show-errors>
    <md-icon><i class="fa fa-lock"></i></md-icon>
    <input ng-model="vm.passwordDetails.currentPassword" type="password" placeholder="Current Password" id="currentPassword" name="currentPassword" required />
    <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
      <p ng-message="required" class="error-text">Your current password is required.</</p>
    </div>
  </md-input-container>

  <md-input-container class="md-icon-float md-block" show-errors>
    <md-icon><i class="fa fa-lock"></i></md-icon>
    <input ng-model="vm.passwordDetails.newPassword" type="password" placeholder="New Password" id="newPassword" name="newPassword" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required />
    <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
      <p ng-message="required" class="error-text">Enter a new password.</p>
      <div ng-repeat="passwordError in passwordErrors">
        <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
      </div>
    </div>
  </md-input-container>

  <md-input-container class="md-icon-float md-block" show-errors>
    <md-icon><i class="fa fa-lock"></i></md-icon>
    <input ng-model="vm.passwordDetails.verifyPassword" type="password" placeholder="Verify Password" id="verifyPassword" name="verifyPassword" password-verify="vm.passwordDetails.newPassword" required />
    <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
      <p ng-message="required" class="error-text">Verify your new password.</p>
      <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
    </div>
  </md-input-container>

  <div ng-show="!vm.passwordForm.newPassword.$error.required">
    <span layout="row" layout-align="center center">Password Requirements : {{requirementsProgress}}%</span>
    <div layout="row" layout-align="center center">
      <md-progress-linear flex="60" md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
    </div>
    <br />
  </div>

  <div class="center-align">
    <md-button type="submit" class="md-raised md-primary">Save Password</md-button>
  </div>
  <div ng-show="vm.success" class="center-align text-success">
    <strong>Password Changed Successfully</strong>
  </div>
  <div ng-show="vm.error" class="center-align text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>

</form>
