/*
* Structure
*/
html {
  box-sizing: border-box;
  width: 100% !important;
}

html,
body {
  background: #f9f9f9;
  height: 100% !important;
  margin: 0;
  min-height: 100% !important;
  overflow-x: hidden;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Environment
 */

/* scrollbar */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-color: transparent;
  display: block;
  height: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: gray;
  border: none;
  border-radius: 5px;
  height: 50px;
}

/*loading*/
.loading-bar.bar {
  background: #f83f51 !important;
}
.loading-bar .peg {
  -webkit-box-shadow: #f83f51 1px 0 6px 1px !important;
  -moz-box-shadow: #f83f51 1px 0 6px 1px !important;
  box-shadow: #f83f51 1px 0 6px 1px !important;
}

/*
* Content
*/


/* header */
header {
  height: 50px;
}

/* container */
.container {
  max-width: 100% !important;
  padding: 10px;
  width: 100% !important;
}

/* base */
.base {
  background-color: #fff;
  border: 1px solid #ddd;
  float: left;
  width: 100%;
}

md-card.base {
  border: 1px solid #ddd;
  box-shadow: none;
  float: none;
  width: auto;
}

.base .header {
  border-bottom: 1px solid #ddd;
}

.base .header .btn,
.base .header .btn-large,
.base .header .btn-flat {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #7c7c7c;
  margin: 11px 5px 0 5px;
  margin-bottom: 5px;
  padding: 0 .7rem;
}

.base .header .btn:hover,
.base .header .btn-large:hover,
.base .header .btn-flat:hover {
  background-color: #ddd;
  color: #4c4c4c;
}

/* General */
a {
  text-decoration: none;
}

/* Forms */
textarea {
  border: 1px solid #ddd;
  height: 10em;
}

button:disabled {
  cursor: no-drop;
  opacity: .5;
}

/* Pagination */
.rmt-pagination li {
  border-radius: 50%;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 0 10px 0 10px;
  padding: 1px 8px 2px 8px;
}

.rmt-pagination li.active {
  background: #bdc3c7;
}

.rmt-pagination li a {
  color: #7f8c8d;
}

.rmt-pagination li.active a {
  color: #fff;
}

/*
 * annimations
 */
/* FIXME add .sidebar-nav .sidebar ul li a, need workaround for transition in element on ng-repeat */
nav.top ul li a {
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}
