/*
 * home
 */

/* Big Logo */
.home .back-logo {
  color: #2c3e50;
  margin: auto;
  overflow: hidden;
  text-shadow: rgba(0, 0, 0, .2) 1px 1px;
}

.home .back-logo .while-search {
  height: 0;
  margin-top: 0;
}

.home .back-logo h1 {
  font-size: 10em;
  font-weight: bold;
  margin-top: 2%;
}

.home .back-logo h2 {
  font-size: 2.4em;
  font-weight: bold;
  margin-top: -30px;
}

.home .back-logo .initial {
  color: #000;
}

/* menu */

.menu {
  border-bottom: 1px solid #ddd;
  margin: 0 !important;
  padding: 0 !important;
}

.menu .part {
  margin: 10px 20px 0 20px;
}

.menu md-input-container.part {
  margin-top: 0 !important;
  padding: 5px;
}

.menu .md-errors-spacer {
  display: none;
}

.menu .md-button.square {
  margin: -12px 2px 0 2px !important;
}

.menu md-switch {
  margin-top: 5px !important;
}

/* Square button */

.md-button.square {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: none !important;
  color: #7c7c7c;
  font-size: 120%;
  max-height: 45px;
  min-width: 45px;
  padding: 0 .3rem;
}
.md-button.square.active {
  background: #ddd;
}
