/*
 * sidenav
 */


/* animation */
.wrapper,
.sidenav,
.nav-wrapper,
.head,
.foot,
.user {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* normal */
.wrapper {
  background: #f9f9f9;
  padding-left: 60px;
}
.sidenav {
  height: 100%;
  margin-left: -60px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 60px;
  z-index: 49;
}
.nav-wrapper {
  padding-left: 60px;
}
.sidebar-nav {
  list-style: none;
  width: 60px;
}
.wrapper .sidebar-nav span {
  display: none;
}

/* toggled */
.wrapper.toggled {
  padding-left: 250px;
}
.wrapper.toggled .sidenav {
  margin-left: -250px;
  width: 250px;
}
.wrapper.toggled .nav-wrapper {
  padding-left: 250px;
}
.wrapper.toggled .sidebar-nav {
  width: 250px;
}
.wrapper.toggled .sidebar-nav span {
  display: inline;
  opacity: 1;
}

/* design */
.sidenav .sidebar-nav .head {
  height: 50px;
  padding: 0 0 0 0;
  width: 250px;
}
.wrapper.toggled .sidebar-nav .head {
  padding: 0 10px 0 10px;
}

.sidenav .sidebar-nav .user {
  bottom: 50px;
  height: 60px;
  line-height: 50px;
  padding: 0 0 0 0;
  position: absolute;
  width: 100%;
}
.wrapper.toggled .sidebar-nav .user {
  padding: 0 10px 0 10px;
}
.sidenav .sidebar-nav .user a {
  color: #fff;
  text-decoration: none;
}
.sidenav .sidebar-nav .user .image {
  border-radius: 50%;
  height: 36px;
  margin: 12px 5px 12px 12px;
  opacity: 1;
  vertical-align: middle;
  width: 36px;
}

.sidenav .sidebar-nav .user:hover {
  background-color: #24272d;
}

.sidenav .sidebar-nav .foot {
  bottom: 0;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.dropdown-toggle {
  color: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}

.sidenav .sidebar {
  max-height: calc(100vh - 180px);
  overflow-x: hidden;
  overflow-y: auto;
  top: 0 !important;
}
.sidenav .sidebar .fa {
  margin-right: 30px;
}
.sidenav .sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidenav .sidebar ul {
  padding: 0;
}
.sidenav .sidebar ul li {
  display: block;
  position: relative;
  width: auto;
}
.sidenav .sidebar ul li a {
  color: #c5d0de;
  display: block;
  padding: 10px 20px 10px 20px;
}
.sidenav .sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #24272d;
  color: #fff;
}
.sidenav .sidebar .arrow {
  float: right;
}
.sidenav .sidebar .fa.arrow:before {
  content: '\f104';
}
.sidenav .sidebar .active > a > .fa.arrow:before {
  content: '\f107';
}
.sidenav .sidebar .nav-second-level li,
.sidenav .sidebar .nav-third-level li {
  border-bottom: 0 !important;
}
.sidenav .sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidenav .sidebar .nav-third-level li a {
  padding-left: 52px;
}
.sidenav .sidebar ul li a span {
  display: none;
}
.sidenav .sidebar ul li a {
  width: 250px;
}

.wrapper.toggled .sidebar ul li {
  width: 250px;
}
.wrapper.toggled .sidebar ul li a {
  width: 250px;
}

/* design */
.head span {
  display: block;
  float: left;
  height: 40px;
  margin-top: 5px;
  position: relative;
}

.head span img {
  height: 34px;
  margin-top: 3px;
}

.logo,
.logo:hover {
  background: transparent;
  float: left;
  margin: 8px 5px 5px 5px;
  padding: 0;
}

.logo .shape:hover {
  transition: all .2s;
}
